@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url("./fonts/Proxima Nova.otf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "Proba Pro";
  src: local("Proba Pro"),
    url("./fonts/Proba Pro/ProbaProBold.ttf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "Proba Pro Medium";
  src: local("Proba Pro"),
    url("./fonts/Proba Pro/ProbaPro-Medium.otf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "The Secret";
  src: local("The Secret"),
    url("./fonts/The Secret/TheSecret-Regular.ttf") format("truetype");
  /* font-weight: bold; */
}


* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
